<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roxoft.sellcompany.mappings.AddressMapper">

	<insert id="insertAddress" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT into addresses (STREET,HOUSE_NUM,COUNTRIES_ID, CITIES_ID)
			VALUES
			(
				#{street},
				#{houseNum},
				#{country.id},
				#{city.id}
			)
		]]>
	</insert>

	<update id="updateAddress">
        <![CDATA[
        	UPDATE
				addresses
			SET
				STREET = #{street},
				HOUSE_NUM = #{houseNum},
				COUNTRIES_ID =
				(
					SELECT
						idCOUNTRIES from countries
						WHERE COUNTRY = #{country}
				),
				CITIES_ID =
				(
					SELECT
						idCITIES from cities
						WHERE CITY = #{city}
				)
			WHERE ID = #{id}
		]]>
	</update>

	 <delete id="deleteAddress">
        <![CDATA[
        	DELETE
        		from addresses
        	WHERE
        		ID = #{id}
        ]]>		
    </delete>		

	<resultMap  id="AddressResultMap" type="com.roxoft.sellcompany.Address" autoMapping="false">
		<id column="ID" property="id" />
		<result column="STREET" property="street" javaType="String" />
		<result column="HOUSE_NUM" property="houseNum" javaType="Int" />
		<association property="country" column="COUNTRIES_ID" select="selectCountry" />
		<association property="city" column="CITIES_ID" select="selectCity" />
	</resultMap>

	<select id="selectCountry" resultType="com.roxoft.sellcompany.Country">
		SELECT COUNTRY from countries WHERE COUNTRY_ID = #{id}
	</select>

	<select id="selectCity" resultType="com.roxoft.sellcompany.City">
		SELECT CITY from cities WHERE CITY_ID = #{id}
	</select>

	<select id="getAddressById" resultMap="AddressResultMap">
		<![CDATA[
			SELECT
				COUNTRY,CITY, STREET,HOUSE_NUM
			FROM addresses adr
			LEFT JOIN countries AS cntr
			ON cntr.idCOUNTRIES=adr.COUNTRIES_ID
			LEFT JOIN cities AS c
			ON c.idCITIES=adr.CITIES_ID
			WHERE adr.ID = #{id}
		]]>
	</select>	
	
</mapper>
