<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
 
<configuration>

	<properties resource="env.properties" />

	<settings>
		<setting name="useGeneratedKeys" value="true" />
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<environments default="stag">
		<environment id="stag">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.host}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappings/AddressMapper.xml" />
		<mapper resource="mappings/SupermarketMapper.xml" />
		<mapper resource="mappings/OnlineshopMapper.xml" />
		<mapper resource="mappings/PavilionMapper.xml" />
		<mapper resource="mappings/LogisticstoreMapper.xml" />
		<mapper resource="mappings/FactorystoreMapper.xml" />

	</mappers>

</configuration>