<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.roxoft.sellcompany.mappings.OnlineShopMapper">

	<insert id="insertOnlineShop" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			INSERT into onlineshops (NAME,SITE,STAFF_NUM,NEW_ARRIVAL_DATE,MANAGERS_NUM,ADDRESSES_ID)
			VALUES
			(
				#{name},
				#{site},
				#{staffNum},
				#{newArrivalDate},
				#{managersNum},
				#{address.id}
			)
		]]>	
	</insert>

	<update id="updateOnlineShop">
        <![CDATA[
        	UPDATE
				onlineshops
			SET
				#{name},
				#{site},
				#{staffNum},
				#{newArrivalDate},
				#{managersNum}
			WHERE id = #{id}
		]]>	
	</update>

	 <delete id="deleteOnlineShop">
	 	<![CDATA[
        	DELETE
        		from onlineshops
        	WHERE
        		id = #{id}
        ]]>		
    </delete>
	
	<select id="getOnlineShopById" resultMap="OnlineShopResultMap">
		<![CDATA[
			SELECT NAME,SITE,STAFF_NUM,NEW_ARRIVAL_DATE,MANAGERS_NUM,HOUSE_NUM,STREET,COUNTRY,CITY
			FROM onlineshops os
			LEFT JOIN addresses a
			ON a.ID=os.ADDRESSES_ID
			LEFT JOIN countries cntr
			ON cntr.idCOUNTRIES=a.COUNTRIES_ID
			LEFT JOIN cities c
			ON c.idCITIES=a.CITIES_ID
			WHERE os.ID = #{id}
		]]>	
	</select>			

	<resultMap type="com.roxoft.sellcompany.models.shop.OnlineShop" id="OnlineShopResultMap" autoMapping="false">
		<id column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="SITE" property="site" />
		<result column="MANAGERS_NUM" property="managersNum"  />
		<result column="STAFF_NUM" property="staffNum"  />
		<result column="NEW_ARRIVAL_DATE" property="newArrivalDate" />
		<association property="address" column="ADDRESSES_ID" select="getAddressById" />
	</resultMap>

</mapper>
